{% load static %}

{% with qtd_itens=carrinho|length %}
    {% if qtd_itens > 0 %}
        <span id="tot1">
            <span class="glyphicon glyphicon-shopping-cart"></span> Seu carrinho:
            <a href="{% url "carrinho:detalhes_do_carrinho" %}">
                {% if qtd_itens > 1 %}
                    {{ qtd_itens }} itens, R${{ carrinho.get_preco_total }}
                {% else %}
                    {{ qtd_itens }} item, R${{ carrinho.get_preco_total }}
                {% endif %}
            </a>
        </span>
    {% else %}
        <div id="tot1"> Seu carrinho está vazio.</div>
    {% endif %}
{% endwith %}

<div id="tot2">
    R$ {{ carrinho.get_preco_total }}
</div>
<div id="sub-total">
    R$ {{sub_total}}
</div>