{% extends "vendas/base2.html" %}

{% load static %}


{% block content %}
    <div class="container topo">
        <div class="row">
            <h3>Seu carrinho de compras</h3>
            <table class="table table-striped table-bordered table-responsive">
                <thead>
                    <tr>
                        <th class="text-center">Imagem</th>
                        <th class="text-center">Produto</th>
                        <th class="text-center fit">Quantidade</th>
                        <th class="text-center">Preço Unitário</th>
                        <th class="text-center">Preço Total</th>
                    </tr>
                </thead>
                <tbody>
                    {# Conteúdo do carrinho de compras:                                                         #}
                    {# carrinho =  {'1': {'id': '1', 'quantidade': 5, 'preco': '100.00'},                       #}
                    {#              '2': {'id': '2', 'quantidade': 3, 'preco': '200.00'}}                       #}
                    {#                                                                                          #}
                    {# Conteúdo da lista:                                                                       #}
                    {# [{'id': 1, 'quantidade': 5, 'preco': 100, 'preco_total': 500, 'produto': obj_produto1,   #}
                    {#   'atualizar_quantidade_form' : obj_form1},                                              #}
                    {#                                                                                          #}
                    {#  {'id': 2, 'quantidade': 3, 'preco': 200, 'preco_total': 600, 'produto': obj_produto2,   #}
                    {#   'atualizar_quantidade_form' : obj_form2}}]                                             #}
                    {% for item in lista %}
                        <tr>
                            <td>
                                <a href="{{ item.produto.get_absolute_path }}">
                                    <img style="max-height: 90px" class="img-rounded img-responsive center-block" src="{{ item.produto.imagem.url }}">
                                </a>
                            </td>
                            <td>{{ item.produto.nome }}</td>
                            <td class="fit">
                                <form class="form-inline text-center form-atualiza" method="post" action="{% url 'carrinho:adicionar_ao_carrinho'%}">
                                    {{ item.atualizar_quantidade_form.quantidade }}
                                    {{ item.atualizar_quantidade_form.atualizar }}
                                    <input type="hidden" name="id_produto" value="{{item.id}}"/>
                                    <input class="btn btn-primary btn-sm" type="submit" value="Atualizar">
                                    <a class="btn btn-danger btn-sm" href="{% url 'carrinho:remover_do_carrinho' item.id %}">Remover</a>
                                    {% csrf_token %}
                                </form>
                            </td>
                            <td class="text-right">R$ {{ item.preco }}</td>
                            <td class="text-right">R$ {{ item.preco_total }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td><b>Total do Pedido</b></td>
                        <td colspan="3"></td>
                        <td class="text-right">R$ {{ carrinho.get_preco_total }}</td>
                    </tr>
                </tbody>
            </table>
            <p class="text-right">
                <a href="/#menu" class="btn btn-primary">Continuar comprando</a>
            </p>
        </div>
    </div>
{% endblock %}
